*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
node_modules/
dist/
build/
*.log
.env
bin/

# Ignore ALE build artifacts
lib/ale/build
lib/ale/*.a
lib/ale/*dll
lib/ale/*so
lib/ale/*dylib
lib/ale/CMakeFiles/
lib/ale/CMakeCache.txt
lib/ale/Makefile
lib/ale/ale.pc 
lib/ale/agent 
lib/ale/cmake_install.cmake
lib/ale/cmake_uninstall.cmake
